# Arquivos de Log
*.log

# Arquivos de Build e Dependências (Maven/Gradle)
target/
.mvn/
build/

# Arquivos de IDE

## IntelliJ
.idea/
*.iml
*.iws

## Eclipse
.classpath
.project
.settings/

## NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/

## VS Code
.vscode/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db