# Logs, temp
*.log
*.tmp
/tmp/
*.swp

# Arquivos de Build e Dependências (Maven/Gradle)
target/
.mvn/
build/

# Java
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/
*.iml

# Node/Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
/environment/

# Docker
docker-compose.override.yml
*.env

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.user
*.iws

## VS Code
.vscode/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db